@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;600&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
:root{
    --green: #04948C;
    --black: #333333;
    --gray: #7A7A7A;
    --lightGreen: #04A19C;
    --darkGreen: #0B6464;
    --lightBlue: #88D8D1;
    --whiteBg: #F8F8F8;
}

body{
    font-family:'Kumbh Sans',sans-serif;
}
section{
    display:flex;
    justify-content:center;
}
a{
    text-decoration: none;
    color:inherit;
}

.limiter{
    max-width: 1140px;
}
.bgImg{
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center center;
}

.img{
    border-radius:30px;
    height:500px;
    object-fit:cover;
    width:100%;
}

header{
    background-color:var(--darkGreen);
    text-align:center;
    padding:12px;
}

#headerLogo{
    filter:brightness( 130% );
}

.banner{
    display:flex;
    justify-content: center;

    background-image:url('/images/negocios-demonstracao-tecweb-reunia-sistema-infoconsult.jpg');

    background-attachment: fixed;

    padding: 10% 25%;
}

.banner .centerInfo{
    background-color:rgba(40, 40, 40, 0.8);
    color:#fff;
    border-radius:10px;
    padding:3em 2em;;
    text-align:center;
    max-width:700px;
}

h1{
    margin-bottom:20px;
    font-weight:500;
    line-height:1.2em;
    font-size:30px;
}

.description{
    line-height:1.4em;
    font-size:20px;
    font-weight:600;

    margin-bottom:20px;
}

.buttonDescription{
    font-size:20px;
    font-weight:400;
    line-height:1.4em;
    color:var(--lightBlue);

    margin-bottom:20px;
}

.btn{
    background-color:var(--green);
    font-size:16px;
    font-weight:600;
    text-transform:uppercase;
    line-height:1.2em;
    padding:15px 30px;
    border-radius:4px;
    margin:10px 0;
    color:#fff;
    width:fit-content;
    transition:0.5;
}

.btn:hover{
    margin-top:-5px;
    transition:0.5;
}

.row{
    display:flex;
    padding:2em 0;
}

.col{
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:50%;
    min-height:500px;
}
.colImg{
    padding:50px;
}

.upperTitle{
    color:var(--green);
    text-transform:uppercase;
    font-weight:500;
    margin-bottom:20px;
}

h2{
    font-weight:500;
    line-height:1.2em;
    font-size:36px;
    color:var(--black);
    margin-bottom:20px;
}

.content p{
    margin-bottom:10px;
    color:var(--gray);
    font-size:16px;
    font-weight:400;
    line-height:1.6em;
}



.colContentRight{
    padding-right:5em;
}

.greenBg{
    background-color:var(--green);
    color:#fff;
}

.greenBg .title{
    color:#fff;
}

.greenBg .btn{
    background-color:var(--black);
}

.greenBg li{
    margin: 5px 0;
    font-size:18px;
    font-weight:400;
    line-height:1.6em;
    list-style:upper-latin;
}